/* MAIN STYLE */
body {
  background-color: #f3f3f3;
}
  .setCounter {
    background-color: dodgerblue;
    border: none;
    outline: none;
    color: white;
    padding: 5px 15px;
    transition: all .2s;
    border: 1px solid #fff;
  }
  .setCounter:hover {
    background-color: #fff;
    color: dodgerblue;
    border-color: dodgerblue;
    outline: blue;
  }
  .setCounter:focus {
  }
  .counterValue {
    padding: 5px 10px;
    border: none;
    background-color: #dedede;
    border: 1px solid #fff;
  }
  .counterValue:focus {
    border: none;
    outline: none;
    border: 1px solid #fff;
  }
  .btn-hr {
    background-color: #f15f22;
    border: none !important;
    outline: none !important;
  }
  .btn-hr:hover {
    background-color: #ff814d;
    border: none !important;
    outline: none !important;
  }
  .btn-hr:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .bg-hr {
    background-color: #f15f22;
  }

.text-center {
  text-align: center;
}
.text-red {
  color: red;
}
.d-block {
  display: block;
}

/*
[------------------------]
[                        ]
[   custom styles here   ]
[                        ]
[------------------------]
*/

/* DETAILS STYLE */
details
{
    border: 1px solid #aaa;
    border-radius: 1rem;
    padding: .5em .5em 0;
}
summary
{
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}
details[open]
{
    padding: .5em;
}
details[open] summary
{
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
/*

*/
